# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
Develop-eggs/
.eggs/
dist/
Downloads/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Pytest
.cache

# mypy
.mypy_cache/
.dmypy.json

# Coverage
.coverage*
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# pyproject
.pytest_cache/

# Editors/IDE
.vscode/
.idea/

# Mac OS
.DS_Store 